@import "tailwindcss";

@theme {
  /* Daftarkan variabel font dari layout.tsx */
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-poppins);
}

:root {
  background: black;
  color: white;
}

body {
  font-family: var(--font-serif);
  /* Mencegah scroll saat modal terbuka (opsional) */
  overflow-x: hidden;
}