@import "tailwindcss";

:root {
  /* 1. Properti standar CSS dipindahkan ke sini */
  color-scheme: light dark;
  background: white;
  color: black;
}

:root.dark {
  background: #030712;
  color: white;
}

@theme {
  /* 2. Blok @theme sekarang BERSIH, hanya berisi custom properties (variabel --*) */
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-poppins);
}

body {
  font-family: var(--font-serif);
  /* Mencegah scroll horizontal */
  overflow-x: hidden;
}